@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' , sans-serif ;
}

body{
    background: #001b29;
    color: blanchedalmond;
}
.header {
    position:fixed;
    top:  0%;
    left: 0%;
    width: 100%;
    color: blanchedalmond;
    padding: 20px 10%;
    background-color:yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
     
}
.logo {
    font-size: 40px;
    color:darkred;
    text-decoration: none;
    font-weight: 600;
    font-family:cursive;
    margin-left: 10px;
    
}
.navbar{
    font-size: 25px;
    color: yellowgreen;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 40px;
    word-spacing: 15px;
    
  
}

.navbar a:hover,
.navbar a:active {
    color:darkred;
    transition: 1s;
}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0% 10%;

}
.home-content h1{
     font-size: 40px;
     font-weight: 500;

}
.home-content  {
    max-width: 600px;

}
.home-content h3 {
    font-size: 32px;
    color:darkred;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home-content p {
    font-size: 18px;
    margin-top: 5%;
}
.home-content .btn-box{
    display:flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
.home{
        height: 100vh;
        background: url();
    }
   
}
.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 150px;
    height: 100%;
    border: 2px solid yellowgreen;
    border-radius: 8px;
    border-top-color:yellowgreen ;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10%;
    margin-left: 3%;
    background: yellowgreen;
    color: darkred;
    


}