
@font-face {
    font-family: 'Work Sans' , 'sans-serif';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: medium;
    font-family: sans-serif;
    justify-content: baseline;
    
}
body{
    background:white ;
    color:#747474;
    margin: auto;
    padding: auto;
   
}

.header{
  justify-content: space-between;
  display:flex;
  align-items: center;
  padding: 22px 0;
  top: 0;
  position: fixed;  
  left: 0;
  right: 0;
  width: 100%;
  background-color:white;
  
}
main{
    margin-top: 15vh;
}
.logo{
    text-decoration: none; 
    margin-left:22px
       
}
.desactive{
    color: #78787c;
    font-size: 14px;
    text-decoration: none;
     
}
.active{
    color: #1bb7a0;
    text-decoration: none;
   
}

.navbar a:hover,
.navbar a:active {
    color:rgb(6, 175, 175);
    transition: 1s;
}
.navbar{
    font-size: 15px;
    word-spacing: 12px;
    letter-spacing: 0.5px;
    margin-right: 12px;
    
   
       
}
.intro-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 38px;
}
.intro-title{
    color: #00b39b;
    margin: 30px;
    font-size: 34px;
    font-weight:275;
    margin-bottom: 6vb;
    letter-spacing: 0.3px;
    font-family: 'work sans';
   
    
    
    
}
.intro-text{
    display: flex;
    margin: 12px;
    padding: 0;
    font-size: 45px;
    word-spacing: 1px;
    letter-spacing: 1px;
     
}

  /* les cartes*/

.services {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;


}
.service-card-logo{
    background: transparent;
    margin-left: 23px;
    margin-top: 4vh;

}

.service-card{
    margin: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: white;
    
    
   
}
.service-card-for{
    background: transparent;
    font-size: 26px;
    padding: 8px;
    letter-spacing: 0.3px;
    margin-left: 15px;
    
}

 
.service-card-patient{
    background-color: #00ccb1;
    height: 360px;
    width: 350px;
    border:solid 1px;  
}

.service-card-doctor{
    background-color:rgb(79,129,216) ;
    height: 360px;
    width: 350px;
    border: solid 1px;
}
.service-card-clinic{
    background-color: rgb(51, 60, 71) ;
    height: 360px;
    width: 350px;
    border: solid 1px;
}
.service-card-select{
    color: white;
    text-decoration:underline;
    margin-top:4vh ;
    background: transparent;
    border: none;
    display:list-item; 
    
}
.service-card-content{
    background: transparent;
    border: none;
    text-decoration: underline;
    margin: 18px;

}

.parag{
    margin: 12px;  
    line-height: 28px;
    font-size: 16px;
    color: #747474;
    letter-spacing: 0px;
    font-family: 'Roboto';
    font-weight:lighter;
    margin-left: 0px;
    margin-right: 0px;
   
   
}   

.service-card-title{
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 0.3px;
    margin: 22px;
    font-family: 'work sans';   
}

  /* les sponsors */

.intro-dev{
   font-size: 32px;
   margin: 48px;
   margin-top: 16vh;
   font-weight: lighter;
   color: #00ccb1;
   text-align: center;
}
.intro-title-dev{
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    margin-left: 80px;
    margin-right: 62px;
    line-height: 22px;
}
.section-img{
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.image-sponsor{
    word-spacing: 18px;
    align-items: center;
    margin-right: 36px;
    margin: 38px;
    width: 1000px;
    filter: grayscale(100%);
    fill:#00B39B
    
}
/* les cartes des villes */

.city-pic {
    margin-top: 8vh;
    justify-content: space-between;
    display:flex;
  
}
button{
    background-color: rgb(79 129 216) ;
    padding: 10px;
    color: white;
    font-size: 10px;
    letter-spacing: 0.4px;
    line-height: 10px;
    margin-right: 7px;
    border-radius: 8px;
}
.openings{
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    font-family: 'roboto';
    margin-top: 8px;
}


P{
    font-style: 18px;
    line-height: 30px;

}
.warsaw{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 20px;

    
}
.sous-titre{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;

}
.city-name{
    margin-left: 7px;
    font-size: 18px;
    line-height: 30px;
    color:#747474;
    
}
.barcelona{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 16px;
}
.munich{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 16px;
}
.istanbul{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 16px;
}
.rome{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 16px;
}
.bologna{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 16px;
}
.curitiba{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 16px;
}
.rio-janeiro{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 16px;
}
.mexico{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 16px;
}
.bogota{
    border-radius: 2px;
    padding-bottom: 2vh;
    margin: 16px; 
   
}

/* Bas de page */

.copyright{
    text-align: center;
    font-size: 12px;
    line-height: 15.6px;
    color: #ababab;
}

.footer{
    font-size: 12px;
    line-height: 15.6px;
    color: #ababab;
    border-top: solid 0.5px ;
    border-color: #ababab;
    padding-top: 5vh;
    padding-bottom: 3vh;
}

footer{
    margin-top: 10vh;
    font-family: 'roboto';

}
.leaders{
  word-spacing: 2px;
  font-family: 'roboto';
  font-size: 12px;
  margin-left: 12vh;
  text-align: center;
  
}

.bas-de-page{
    text-align: center;
    margin: 12vh;

}

a{
    color: #3d83df;
    font-size: 12px;
    
}
.last-step{
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.3px;
    font-family: 'work sans';
    color:#333333;
    font-weight: 250;
    margin-bottom: 5vb;

}

.copyright{
    margin-top: 6px;
}

/* L'affiche en milieu de page*/

.devops{
    background-color:rgb(224,240 ,242);
    max-height:max-content;
    display: flex;
    max-width: max-content;
}
.middle-dev{
   margin-right: 120px;  
     
}
.the-cards{
    display: flex;
    
   
}

.white-card{
    border: 1px solid transparent;
    background-color: white;
    text-align: center;
    align-items: center; 
    display:inline;
    padding-top: 18px;
    margin: 22px;
    height: 280px;
    width: 220px;
    flex-wrap: wrap;
    
    
}
.white-card-title{
    font-size: 24px;
    color: #00b39b;
    font-family:'work sans';
    font-weight: 300;
    margin-top: 14px;
}

.advice{
    font-size: 34px;
    font-family:'work sans';
    line-height: 44.2px ;
    padding-top: 6vh;
    padding-left: 14px;
    color: #00b39b ;
    font-weight: 300;
}
.para{
    font-size: 14px;
    font-family: 'roboto' 'sans serif';
    line-height: 24px;
    color: #747474;
    margin: 14px;
    margin-top: 16px ;
    font-weight: 350;
}
.para-1{
    font-size: 13px;
    font-family: 'roboto';
    line-height: 16.9px;
    color: #747474;
    margin: 14px;
    margin-top: 16px ;
    font-weight: 350;
}

   

